.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    color: #666666;
    margin-bottom: 0.6em;
    font-weight: bold;
}

.select_style {
    width: 100%;
    color: #7b7b7b;
    border-radius: 0.5em;
    border: none;
    outline: none;
}
.select_style input{
    background-color:  #9360BD;
    
}



