
.btn {
    background-color:#fff ;
    padding: 0.7em;
    color: #9360BD;
    border-radius: 10em;
    width: 100%;
    min-height: 30px;
    text-decoration: none;
    transition: 0.1s;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-top: 2em;
    font-size: medium;
}

.btn:hover {
    transform: translateY(4px);
}
