.container {
        width:100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap:wrap;
}

.min-height {
    min-height: 100%;
}

.start {
    justify-content: flex-start;
    width: auto;
}

.column {
    flex-direction:column;
    justify-content:flex-end;
    width: auto;
}