.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #2e353f;
    padding: 1em;
}



.list {
    display: flex;
    align-items: center;
    list-style: none;    
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    font-size: .9em;
}

.item a:hover {
    font-size: .95em;
}

.user_container{
    display:flow-root;
}

.user_options {
    display:flex;
    align-items: center;

}
.button_logout{
    display: flex;
    justify-items:end;
}

.user_options:hover{
    color: rgb(170, 167, 167) ;    
}

.user_options p {
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    font-size: .9em;
    margin-right: 1em;
}

.user_options svg {
    color: #fff;
    font-size: 1.6em;
    cursor: pointer;
}