.request_card {
    padding: 0 0 0.8em 0;
    background: #f6f6f6;
    border-radius: 1em;
    width: auto;
    min-width: 24%;
    margin: 0.5%;
    box-shadow: 6px 3px 3px #cdcdcd;
}


.request_card h4 {
    color: #2e353f;
    border-radius: 1em;
    font-size: 1.3em;
    margin: 0.4em;
}

.background_title_pendente{
    display: flex;
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid #ffd252 ;
    border-left: none;
    margin-bottom: 1em;
    box-shadow: 4px 2px 2px #cdcdcd;
}

.background_title_aprovado{
    display: flex;
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid #3bb659 ;
    border-left: none;
    margin-bottom: 1em;
    box-shadow: 4px 2px 2px #cdcdcd;
}

.background_title_reprovado{
    display: flex;
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid #b9453a ;
    border-left: none;
    margin-bottom: 1em;
    box-shadow: 4px 2px 2px #cdcdcd;
}

.statusBar_pendente{
   background-color: #ffd252;
   border-radius: 1em 0 0 1em;
   width: 15%;
   min-height: 100%;
}

.statusBar_aprovado {
    background-color: #3bb659;
    border-radius: 1em 0 0 1em;
    width: 15%;
    min-height: 100%;  
}

.statusBar_reprovado {
    background-color: #b9453a;
    border-radius: 1em 0 0 1em;
    width: 15%;
    min-height: 100%;
}



.request_card p {
    color: #596677;
    margin: .2em;
    margin-left: 1em;
    margin-right: 1em;

}

.request_card p span {
    font-weight: bold;
}

.status_text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
}

.status_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffd252;
    margin-right: 5px;
}

.status_text .aprovado {
    background-color: #3bb659;
}

.status_text .reprovado {
    background-color: #b9453a;
}

.request_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request_card_actions a,
.request_card_actions button{
    text-decoration: none;
    border: none;
    background-color: #f6f6f6;
    color: #596677;
    border-radius: 5px;
    border: 1px solid #596677 ;
    font-size: 0.9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    cursor: pointer;
}

.request_card_actions svg {
    margin-right: .5em;
}

.request_card_actions a:hover,
.request_card_actions button:hover{
    color: #fff;
    background-color: #2e353f;
}

